{% extends 'index_base.html' %}
{% block content %}
    {% if jadwal|length > 0 %}
        <table id="jadwal" class="mdl-data-table striped">
            <thead>
            <tr>
                <th>Hari</th>
                <th>Jam</th>
                <th>Ruang</th>
                <th>SKS</th>
                <th>Kelas</th>
                <th>Mata Kuliah</th>
                <th>Dosen</th>
                <th>Program Studi</th>
            </tr>
            </thead>
            <tbody>
            {% for data in jadwal %}
                <tr>
                    <td>
                        {{ data.get_hari }}
                    </td>
                    <td>{{ data.jam_mulai }}{% if data.jam_selesai|length %} - {{ data.jam_selesai }}{% endif %}</td>
                    <td>{{ data.ruang }}</td>
                    <td>{{ data.matakuliah.matakuliah.sks }}</td>
                    <td>{{ data.matakuliah.get_kelas }}</td>
                    <td>{{ data.matakuliah.matakuliah.matakuliah }}</td>
                    <td>{{ data.matakuliah.get_dosen }}</td>
                    <td>{{ data.matakuliah.matakuliah.prodi }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Hari</th>
                <th>Jam</th>
                <th>Ruang</th>
                <th>SKS</th>
                <th>Kelas</th>
                <th>Mata Kuliah</th>
                <th>Dosen</th>
                <th>Program Studi</th>
            </tr>
            </tfoot>
        </table>
    {% else %}
        Data Kosong ({{ jadwal|length }})
    {% endif %}
{% endblock %}
